 @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

 * {
   margin: 0;
   padding: 0;
   outline: none;
   box-sizing: border-box;
   line-height: 1.5;
   /* transition: all 0.3s ease-in-out; */
   font-family: "Josefin Sans", Arial;
 }

 .cards {
   position: relative;
   min-height: 425px;
   width: 800px;
   margin-top: 2rem;
   margin-left: 18rem;
   border-radius: 15px;
   /* background: linear-gradient(to bottom right, #38A3A5, #57CC99, #80ED99); */
background: linear-gradient(90deg, rgb(107, 149, 167) 0%, rgba(172, 217, 236) 50%, rgba(84, 180, 211, 1) 100%);
 }

 .cards .header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 2rem;
   color: #ddd;
 }

 .cards .header .title {
   font-weight: 300;
 }

 .one .sort {
   display: flex;
   margin-left: 0rem;
   overflow-x: auto;
   -ms-overflow-style: none;
   scrollbar-width: none;
   scroll-behavior: smooth;
   border: 2px solid #e6e208;
   border-radius: 20px;
   background-color: #3b5998;
   white-space: nowrap;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 14.1px;
   max-width: 60%;
 }

 .sort::-webkit-scrollbar {
   display: none;
 }

 .sort .day {
   padding: 0.4rem 1rem;
   margin: 0 0.1rem;
   cursor: pointer;
   min-width: 16px;
 }

 .one .sort .day.active,
 .one .sort .day:active {
   background: rgba(210, 255, 213, 0.3);
   border-radius: 10px;
 }

 ::selection {
   background: rgba(210, 255, 213, 0.3);
 }

 .profile {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 1rem;
 }

 .profile .person {
   background-color: whitesmoke;
   display: flex;
   margin-top: 6rem;
   padding: 1rem 1rem;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   border-radius: 20%;
   border: 1px solid grey;
   width: 8rem;
 }

 .profile .person.first {
   position: absolute;
   left: 50%;
   top: 45%;
   transform: translate(-50%, -50%);
   box-shadow: 20px 20px 50px 15px grey;
 }


 .num {
   color: black;
   margin-top: 0.3rem;
   font-size: 17px;

 }

 .fa-caret-up {
   color: cyan;
   font-size: 21px;
 }

 .link {
   margin: 0.2rem 0;
   color: black;
   margin-top: -0.3rem;
   font-size: 17px;
   padding: 1rem;
 }

 .points {
   color: black;
   font-size: 17px;
 }

 .second {
   border-radius: 20%;
   position: absolute;
   left: 20%;
   top: 50%;
   transform: translateY(-50%);
   box-shadow: 20px 20px 50px 15px grey;
 }

 .third {
   position: absolute;
   right: 20%;
   top: 50%;
   transform: translateY(-50%);
   box-shadow: 20px 20px 50px 15px grey;
   border-radius: 20%;
 }

 .p_img {
   width: 50px;
   background: #fff;
   border-radius: 50%;
 }

 .flex {
   display: flex;
   align-items: center;
 }

 .others {
   display: flex;
   width: 100%;
   margin-top: 1rem;
   align-items: center;
   justify-content: center;
 }

 .info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 30px;
   background: rgba(210, 255, 213, 0.3);
 }

 .info .points {
   margin-left: 0.2rem;
   margin-right: 1.2rem;
 }

 .info .link {
   margin: 0 1rem;
 }

 .rank {
   display: flex;
   align-items: center;
   margin: 0 1rem;
   flex-direction: column-reverse;
 }

 .rank i {
   margin-top: -5px !important;
 }

 .rank .num {
   margin: 10% !important;
 }

 .greeting-message {
   font-size: 24px;
   font-weight: bold;
   font-style: italic;
   color: #333;
   padding: 20px;
   text-align: center;
   margin-top: 20px;
 }

 .profile .person .trophy {
   font-size: 3rem;
   position: absolute;
   top: -100px;
   left: 50%;
   transform: translateX(-50%);
 }

 .profile .person .gold {
   color: #ffd700;
   font-size: 6rem;

 }

 .profile .person .silver {
   color: #c0c0c0;
   font-size: 4.5rem;
 }

 .profile .person .bronze {
   color: #cd7f32;
   font-size: 4rem;
 }

 .profile .person .medal {
   font-weight: bold;
   font-size: 1.2rem;
   margin-right: 1rem;
 }